api-produtos/docs-dev/se_img_existe.json
{
    "name": "SE IMG EXISTE",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "is-image-exists",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -48,
          0
        ],
        "id": "229da12e-2b88-4dbf-bfd3-5c314b2db47a",
        "name": "Webhook",
        "webhookId": "146f06b5-9915-41d7-8e0b-2279f7db78bf"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a0f25bfd-33ef-4dfd-a87e-591db8e59e2a",
                "name": "produto_id",
                "value": "={{ $json.body.produto_id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          192,
          0
        ],
        "id": "b3dd0adf-12bd-4802-9f6c-2fa02b79d8cd",
        "name": "produto_id"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "a29ae5f5-f433-4958-bcd4-b56b9debfe4c",
                "leftValue": "={{ $json.images[0].base64 }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1248,
          -192
        ],
        "id": "0d1f0ac2-0c3d-4dc4-aa05-2086029eb609",
        "name": "Imagem Existe?"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4,
        "position": [
          1264,
          16
        ],
        "id": "35d0c04e-b9ac-4ab6-9f99-0bff02eadaec",
        "name": "Respond to Webhook1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://openrouter.ai/api/v1/chat/completions",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1792,
          -464
        ],
        "id": "b1471f37-7a0b-491a-b043-aa194a5ac305",
        "name": "OpenRouter Call",
        "credentials": {
          "httpBasicAuth": {
            "id": "nHBB8sCzBPnUgAP4",
            "name": "Pagar.me"
          },
          "httpBearerAuth": {
            "id": "fik83o4zakJQP6OJ",
            "name": "openrouter bearer"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const instruction = [{\n  \"type\":\"text\",\n  \"text\":`Qual dessas imagens lhe parece mais adequada para mostrar ao cliente que deseja ver uma imagem do produto? Isto é, qual delas se encaixa melhor como imagem de capa do produto? ATENÇÃO: Se caso nenhuma imagem for adequada, pois não é uma imagem para o cliente que quer ver o produto em detalhes, a foto não é profissional etc, retorne o número 932042349 em best_image_index`\n}];\n\nconst allBase64 = $('Imagem Existe?').first().json.images.map(el => {\n  return {\n    \"type\": \"image_url\",\n    \"image_url\": {\n      \"url\": el.base64.replace(/\\r?\\n|\\r/g, \"\")\n    }\n  }\n});\n\nconst content = instruction.concat(allBase64);\n\nreturn {\n    \"model\":\"openai/gpt-5-chat\",\n    \"messages\": [\n        {\n          \"role\": \"user\",\n          \"content\": content\n      }\n    ],\n  \"response_format\": {\n    \"type\": \"json_schema\",\n    \"json_schema\": {\n      \"name\": \"response\",\n      \"strict\": true,\n      \"schema\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"justification\": {\n            \"type\": \"string\",\n            \"description\": \"Justificativa da escolha da imagem curta e objetiva\"\n          },\n          \"best_image_index\": {\n            \"type\": \"number\",\n            \"description\": \"Index (começando de 0) da imagem escolhida. Caso nenhuma seja escolhida, retorne 932042349\"\n          }\n        },\n        \"required\": [\n          \"justification\",\n          \"best_image_index\"\n        ],\n        \"additionalProperties\": false\n      }\n    }\n  }\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1536,
          -464
        ],
        "id": "14a5705a-7b16-4f42-acd9-a3bd2de2bd24",
        "name": "Code"
      },
      {
        "parameters": {
          "url": "https://copafer.fortiddns.com/api/v2/cubo/produtos/imagem",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "id",
                "value": "={{ $('produto_id').item.json.produto_id }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1024,
          -192
        ],
        "id": "061e5db0-5e98-4ddc-821b-75ac4df96d7f",
        "name": "Call Imagens Produto",
        "credentials": {
          "httpHeaderAuth": {
            "id": "j6i0O9YMcg3lfwQh",
            "name": "X-Copafer Auth"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "0e673fbd-586c-4f6c-b214-92744070b92f",
                "leftValue": "={{ $json.propertyName }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "empty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          736,
          0
        ],
        "id": "1e9b567e-d27c-49a9-a690-59105208d901",
        "name": "Base64 não armazenado?"
      },
      {
        "parameters": {
          "operation": "get",
          "key": "=best_image_for_{{ $('produto_id').item.json.produto_id }}",
          "options": {}
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          464,
          0
        ],
        "id": "aaaf43b6-0d34-446d-91fa-db6a1e2ea1cc",
        "name": "Redis Verifica Base64",
        "credentials": {
          "redis": {
            "id": "qAWeG3Xx5CQkbdoh",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "operation": "set",
          "key": "=best_image_for_{{ $('produto_id').item.json.produto_id }}",
          "value": "=null",
          "expire": true,
          "ttl": 259200
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          2544,
          -192
        ],
        "id": "8217da6b-e3c7-4579-a06d-7a7342c65b72",
        "name": "Redis Define Produto sem Imagem",
        "credentials": {
          "redis": {
            "id": "qAWeG3Xx5CQkbdoh",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "operation": "set",
          "key": "=best_image_for_{{ $('produto_id').item.json.produto_id }}",
          "value": "={{ $json.base64 || null }}",
          "expire": true,
          "ttl": 259200
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          2896,
          -960
        ],
        "id": "28bba36c-f707-44b1-adb1-9d4dc165e439",
        "name": "Redis Define Melhor Imagem",
        "credentials": {
          "redis": {
            "id": "qAWeG3Xx5CQkbdoh",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "001c38f7-e360-4f51-8715-3d4958e0c6ba",
                "name": "init",
                "value": "={{ $json.choices.first().message.content.parseJson().best_image_index }}",
                "type": "number"
              },
              {
                "id": "ad2980bf-c6cc-44a3-a767-0e76c980ce8b",
                "name": "end",
                "value": "={{ $json.choices.first().message.content.parseJson().best_image_index + 1 }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2032,
          -464
        ],
        "id": "3fa81be8-35de-40e8-a29c-94143e88461e",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "c6931741-0207-4a73-9b32-952719a1138c",
                "name": "base64",
                "value": "={{ $('Code').item.json.messages.first().content.filter(item => item.type === \"image_url\").slice($json.init, $json.end).first().image_url.url }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2544,
          -624
        ],
        "id": "dd01d05e-f8f9-405d-bada-139c5e8a3459",
        "name": "Edit Fields2"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "e806928a-ceee-45d7-9292-b2da299fdb44",
                "leftValue": "={{ $json.init }}",
                "rightValue": 932042349,
                "operator": {
                  "type": "number",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          2272,
          -464
        ],
        "id": "7443e61b-a249-4b43-9fbd-4064ba7807a7",
        "name": "If"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b7a48188-fa9e-4df6-aa3a-ae9cca6a6860",
                "name": "imageExists",
                "value": "={{ $json.propertyName !== \"null\" }}",
                "type": "boolean"
              },
              {
                "id": "0f892731-7d4a-4b4d-a8d8-4551c5f94075",
                "name": "IdProduto",
                "value": "={{ $('produto_id').item.json.produto_id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          992,
          16
        ],
        "id": "59c7c584-7d3f-4219-8f30-4e5efcc7dbae",
        "name": "setDataProduct"
      },
      {
        "parameters": {
          "operation": "get",
          "key": "=best_image_for_3533",
          "options": {}
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          1264,
          256
        ],
        "id": "1f5c8c22-03af-4058-8e65-130a2c41daca",
        "name": "Redis Verifica Base",
        "credentials": {
          "redis": {
            "id": "qAWeG3Xx5CQkbdoh",
            "name": "Redis account"
          }
        },
        "disabled": true
      }
    ],
    "pinData": {
      "Webhook": [
        {
          "json": {
            "headers": {
              "host": "primary-production-ef755.up.railway.app",
              "user-agent": "axios/1.8.3",
              "content-length": "22",
              "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
              "accept-encoding": "gzip, compress, deflate, br",
              "content-type": "application/json",
              "x-forwarded-for": "162.220.232.15",
              "x-forwarded-host": "primary-production-ef755.up.railway.app",
              "x-forwarded-proto": "https",
              "x-railway-edge": "railway/us-west2",
              "x-railway-request-id": "7a00ILWXQjO0qe790_TJvA",
              "x-real-ip": "162.220.232.15",
              "x-request-start": "1765819071615"
            },
            "params": {},
            "query": {},
            "body": {
              "produto_id": "45250"
            },
            "webhookUrl": "https://primary-production-ef755.up.railway.app/webhook/is-image-exists",
            "executionMode": "production"
          }
        }
      ]
    },
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "produto_id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "produto_id": {
        "main": [
          [
            {
              "node": "Redis Verifica Base64",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Imagem Existe?": {
        "main": [
          [
            {
              "node": "Code",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Redis Define Produto sem Imagem",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code": {
        "main": [
          [
            {
              "node": "OpenRouter Call",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Call": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call Imagens Produto": {
        "main": [
          [
            {
              "node": "Imagem Existe?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Base64 não armazenado?": {
        "main": [
          [
            {
              "node": "Call Imagens Produto",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "setDataProduct",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Redis Verifica Base64": {
        "main": [
          [
            {
              "node": "Base64 não armazenado?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Redis Define Melhor Imagem": {
        "main": [
          [
            {
              "node": "Redis Verifica Base64",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Redis Define Produto sem Imagem": {
        "main": [
          []
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields2": {
        "main": [
          [
            {
              "node": "Redis Define Melhor Imagem",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Edit Fields2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Redis Define Produto sem Imagem",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "setDataProduct": {
        "main": [
          [
            {
              "node": "Respond to Webhook1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": true,
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "03c71e3e-a8ec-4f62-a8ff-a4de3f960085",
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "02b33dc78f42c2f4686f16a0883b0b4ceb2bdd6d3cef18808f9b2fcdef9b4d05"
    },
    "id": "HsGOWGPHszzc1lOB",
    "tags": [
      {
        "createdAt": "2025-09-21T00:40:08.099Z",
        "updatedAt": "2025-09-21T13:35:20.029Z",
        "id": "KJSLrgVMxQJB1fbf",
        "name": "TOOL"
      }
    ]
  }